@charset "utf-8";
/* CSS Document */
html, body, from {height: 100%;}
body{min-width:1200px;}
#global-wrapper {min-height: 100%;}
#global-main {padding-bottom:20px; overflow:auto} /* 必须使用和footer相同的高度 */
#global-footer {position:relative; margin-top:-110px; height: 110px; clear:both;}

/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/
}

.clearfix:after {content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

.clear{clear:both;}
.clear-left{clear:left;}
.align-left{float:left;}
.align-right{float:right;}
hr{border:1px solid #ebe9c6;background:#ebe9c6;}
.line{width:100%;height:1px;background:#e0e0e0;margin:5px 0}
a:hover{color:blue;}

/*头部样式*/
#head-bg{background:#efefef}
#head{width:960px; margin:0 auto;height:60px;}
.about{float:right;width:400px;height:60px;line-height:60px;overflow:hidden;text-align:right;font-family:"黑体";font-size:14px;}
.about a:hover{color:blue;text-decoration:none;cursor:pointer}
.about a {padding:0 5px}
.search-text{width:160px;height:20px;border:1px #bbb solid;padding-left:2px;border-radius:10px;background:url(../images/search.png) no-repeat;padding-left:24px}

/*导航部分样式*/
#direct-bg{background:url(../images/direct-bg.png) repeat-x}
.direct{width:960px;height:28px;line-height:28px;margin:0 auto;font-size:13px}
.direct li{float:left;padding-right:5px;}
.direct li a:hover{color:blue;}
.direct-split{background:url(../images/direct-go.png) no-repeat;height:28px;padding-left:10px}
.direct-parent{font-weight: bold}
.direct-current{color: #5599ff; font-weight: bold}

.nav{width:100%;height:230px;background:black;color:white;}
.banner{width:960px;height:230px;margin:0 auto;background:url("../images/banner.png") no-repeat right;font-family:"黑体";}
.nav-word{width:500px;height:200px;float:left;font-size:14px;}
.nav-word h1{font-size:2em;line-height:30px;padding-top:10px;}
.nav-word p{line-height:25px;}
.nav-menu{display:block;font-size:1em;height:30px;}
.nav-menu li{line-height:30px;float:left;text-align:center;color:black;}

.nav-unclick{background:url(../images/nav.png) no-repeat;width:80px;margin-left:-10px}
.nav-click{background:url(../images/nav_click.png) no-repeat;width:80px;}

/*内容部分样式*/
.content-wrapper{width:960px;margin:0 auto;text-align:left;padding-top:10px;}
.summary{padding:10px 0;width:100%;}
.summary h1{line-height:30px;padding-bottom:5px;border-bottom:solid 2px #efefef;font-family:"黑体";font-weight:normal;}

.menu-bg, .content{margin-top:10px}
.menu-bg{width:210px;border:5px solid #fefefe;float:right;}
.menu{width:200px;border:5px solid #EFEFEF;color:#a9a3a1;}
.menu-content{padding:10px 10px; background:#fbfbfb; border-left: solid 1px #D8D8D8; border-right: solid 1px #D8D8D8;}
.menu-content.first{border-top: solid 1px #D8D8D8;}
.menu-content.last{border-bottom: solid 1px #D8D8D8;}
.menu-content h4{line-height:18px;height:18px;padding-left:20px;color:#6c6361}
.menu-content p{line-height:16px;width:180px;overflow:hidden;margin:6px 0;
    /*文本溢出用"..."表示*/
    text-overflow:ellipsis; /*适用IE*/
    -o-text-overflow:ellipsis; /*适用opera*/
    -moz-binding: url('ellipsis.xml#ellipsis');/*适用火狐(firefox通过XUL实现效果)*/}

.date{line-height:20px;float:right;clear:right;font-size:4px;color:#c9c6c6}

.join-bg{background:url("../images/join_black.png") no-repeat;height:16px;padding-left:20px}
.join-blog{background-position:0 0;}
.join-sina{background-position:0 -16px;}
.join-zhaopin{background-position:0 -32px;}
.join-rss{background-position:0 -48px;}

.menu_help{line-height:22px;overflow:hidden;cursor:pointer}
.menu a{color:#a9a3a1}
.menu a:hover{color:blue;}

.menu-nav-bg{background:url("../images/icon_menu.png") no-repeat;}
.menu-nav-help{background-position: 0 0;}
.menu-nav-join{background-position: 0 -18px;}
.menu-nav-contect{background-position:0 -36px;}

.content{width:700px}
.list{width:100%;border:1px solid #ddd;}
.list li{display:block;width:100%;text-align:center;background:white;}
.list li.last{border-bottom:1px solid #ddd;}
.list li a{width:100%;height:24px;line-height:24px;display:block;}

.info{width:96%;height:36px;margin:10px 0}
.info li{width:140px;display:block;text-align:left;float:left;}
.info span {display:block;float:left;}

.info-bg{background:url(../images/fact.png) no-repeat center;width:32px;height:32px;margin-right:8px}
.info-location{background-position:0 0}
.info-date{background-position:-32px 0;}
.info-team{background-position:-64px 0;}
.info-get{background-position:-96px 0;}

.detail{line-height:18px;height:auto;padding:10px 0}
.about-info{width:195px;float:left;line-height:14px;margin-right:20px;}
.about-info img{border:1px solid #f2f2f2;margin-bottom:8px;width:200px;height:140px}
.us, .product{width:100%;height:auto;margin-top:15px}
.product h3{padding:10px 0;}
.product img{margin-right:10px;border:1px solid #ccc;width:160px;height:100px}

.content h2{border-bottom:1px solid #e0e0e0;padding:10px 0 5px 0}

.location{width:100%;height:auto;padding-bottom:15px;line-height:18px}
.location h3{padding-bottom:5px}
.location img{margin-right:20px;width:200px;height:140px;border:1px solid #ccc;}


.team-list{width:100%;text-align:center;overflow:hidden;line-height:18px;padding:10px 0}
.team-list li{width:160px;height:160px;display:block;margin-right:10px;float:left;margin-bottom:10px;}
.team-info{width:160px;height:40px;position:relative;left:0;bottom:40px;background:#ddd;}

.transparent{filter:alpha(opacity=0);/*支持 IE 浏览器*/
             -moz-opacity:0.40;/*支持 FireFox 浏览器*/
             opacity:0.40;/*支持 Chrome, Opera, Safari 等浏览器*/ }
.image{margin:10px 10px 10px 0;float:left;border:1px solid #f2f2f2;}

.shadow {
  -moz-box-shadow:    -1px 1px 2px 3px #f5f5f5;
  -webkit-box-shadow: -1px 1px 2px 3px #f5f5f5;
  box-shadow:         -1px 1px 2px 3px #f5f5f5;
}
/* 底部版权部分的样式 */
#footer-category{width:100%;min-height:180px;background:#f8f8f8;border-top:2px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
#footer-global{width:100%;height:60px;border-bottom:2px solid #e0e0e0;overflow:hidden;}
.us-more{width:960px;margin:0 auto;padding-top:20px;}
.us-more li{width:200px;display:block;float:left;line-height:20px;font-size:12px;padding-right:40px;}
.us-more li a{color:#4e86dd}
.us-more h4{border-bottom:1px solid #e0e0e0;margin-bottom:5px;padding-bottom:5px;width:150px;color:#8c8c8c}

.footer-logo{width:960px;margin:0 auto}
.footer-logo img{margin-top:10px;margin-right:80px}
.footer-copyright{line-height:18px;padding-top:16px;}
.footer-copyright a{color:blue;padding-right:10px}
