@charset "utf-8";
/* CSS Document */

.line{width:100%;height:1px;background:#e0e0e0;}

/*头部Logo部分的样式*//*
#head, #content,.footer-logo,.us-more{width:960px;margin:0 auto;}
#head{height:100px;background:url(../images/bg-shadow.png) bottom no-repeat}
.logo {padding-top:20px;padding-left:30px}
.nav{float:right;padding-right:40px;padding-top:40px}
.nav li{width:80px;height:20px;float:left;text-align:center}
.nav li a{font:20px "黑体";color:#aaaaaa}*/

/*头部样式*/
#head-bg{background:#fefefe}
#head,.us-more,.footer-logo{width:960px; margin:0 auto;}
#head{height:60px;}
.about{width:400px;line-height:60px;overflow:hidden;text-align:right;font-family:"黑体";font-size:14px;float:right;}
.about a:hover{text-decoration:none;color:blue;}
.about a{padding:0 5px}
.search-text{width:160px;height:20px;border:1px #bbb solid;padding-left:24px;border-radius:10px;background:url(../images/common/search.png) no-repeat;}


/*内容部分的样式*/
#content{height:300px;width:600px; margin:100px auto;text-align:left;background:#ffffff;border:1px solid #dedede;box-shadow:0 0 5px #dfdfdf;border-radius:3px}
.error{display:block;color:#bbbbbb;position:relative;height:100%;width:100%}
.error h1{width:128px;height:128px;float:right;position:absolute;right:25px;bottom:50px}
.error h2{padding-left:20px;padding-top:20px}
.sorryerror {position:relative;left:150px;top:10px;width:300px;font-size:18px;line-height:30px}

.bottom{position:absolute;left:0;bottom:0;height:40px;width:100%;background:#f9f9f9;}
.bottom-left{background:url(../images/common/home.png) no-repeat center;width:40px;height:40px;float:left;}

.error ul{float:right;}
.error ul li{width:90px;float:right;line-height:40px;font-size:20px;font-family:"黑体";text-align:center;}
.error ul li a{color:#B0C4DE;}
.error ul li a:hover{color:#7397ab;text-decoration:none;}
.error ul li a.blue{color:#5CACEE;}

/* 底部版权部分的样式 */
#footer-global{width:100%;height:60px;overflow:hidden;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;text-align:left}
.footer-logo img{margin-top:10px;margin-right:60px;float:left;}
.footer-copyright{line-height:18px;padding-top:6px;}
.footer-copyright a{color:blue;padding-right:10px}
