@charset "utf-8";
/* CSS Document */
body{min-width:1200px;}

.clearfix:after {content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

.centrum, .footer-logo, .us-more {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

/*bannner样式*/
.banner {
    background: url(../images/index/banner_bg.png) repeat-x;
    height: 206px;
    margin: 20px 0;
    text-align: left;
}

.help {
    width: 100%;
    height: 36px;
}

.help .link, .help h1 {
    color: white;
    padding: 0 10px;
    line-height: 36px;
}

.help h1 {
    text-align: left;
    font-family: "黑体";
}

.summary {
    width: 100%;
    position: relative;
}

.summary img {
    position: relative;
    top: 19px;
    left: 2.0833333333333333333333333333333%;
}

.summary-text {
    width: 35.9375%;
    background: #f8fcff;
    position: relative;
    top: 26px;
    right: 2.0833333333333333333333333333333%;
    border: 1px #d0d7da solid;
    padding: 2px 8px;
    overflow: hidden;
}

/*切换导航*/
.content-wrapper, .detail {
    width: 100%;
    height: auto;
}

.detail {
    display: none;
}

.nav {
    width: 100%;
    overflow: hidden;
    border-bottom: 3px solid #ebe9c6;
}

.nav > li {
    width: 23.333333333333333333333333333333%;
    height: 160px;
    float: left;
    margin: 0 0.83333333333333333333333333333333%
}

.nav img {
    display: block;
    margin-left: 8px;
}

.nav-button {
    width: 100%;
    height: 93px;
    background: url(../images/index/button.png) no-repeat 0 0;
    display: block;
    color: #5599ff;
    position: relative;
    left: 0;
    bottom: 75px;
    cursor: pointer
}

.nav-button h2 {
    padding-top: 15px;
    font-family: "黑体"
}

.nav-button p {
    color: gray;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 5px;
}

/*导航包含内容*/
.summary-nav {
    width: 100%;
    height: 130px;
}

.summary-nav > li {
    float: left;
    margin: 10px 10px 0 10px;
    cursor: pointer
}
.summary-nav > li > a {
    display: block;
    height: 100%;
    width: 100%;
}

.system-title {
    margin-top: 10px
}

.system-thumbs {
    background: url(../images/index/icon.png) no-repeat;
    width: 140px;
    height: 112px;
}

.system-pms {
    background-position: 0 0;
}

.system-cr {
    background-position: -140px 0;
}

.system-ci {
    background-position: -280px 0;
}

.system-git {
    background-position: -420px 0;
}

.system-svn {
    background-position: -560px 0;
}

.system-ftp {
    background-position: -700px 0;
}

.system-email {
    background-position: -840px 0;
}

.system-im {
    background-position: -980px 0;
}

.system-wiki {
    background-position: -1120px 0;
}

.system-demo {
    background-position: -1260px 0;
}

.system-api {
    background-position: -1400px 0;
}

.system-vps {
    background-position: -1540px 0;
}

/*导航切换内容详情*/
.feature-list {
    width: 100%;
    height: auto;
    text-align: left;
}

.feature-list > li {
    width: 100%;
    border-top: 1px solid #bbb;
    clear: both;
}

.feature-list h1 {
    font-family: "黑体";
    padding-top: 20px
}

.feature-list p {
    width: 460px;
    line-height: 20px;
    overflow: auto;
    margin: 10px 0;
}

.feature-list h5 {
    width: 460px;
    height: 40px;
    line-height: 40px;
    background: #e5eff2;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px
}

.feature-color {
    line-height: 20px;
    background: #e3f2e7;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 6px 0;
    color: #36361D
}

.category {
    text-align: right;
}

.category img {
    margin-right: 4px;
}

/*友情链接*/
.friend-link {
    width: 100%;
    height: auto;
    border-top: 1px solid #bbb;
}

.friend-link li {
    height: 32px;
    line-height: 32px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #5599ff;
    padding-left: 10px;
    cursor: pointer
}

.clear {
    clear: both;
}