@charset "utf-8";
/* CSS Document */
html, body, from {height: 100%;}
body{min-width:1280px;}
#global-wrapper {min-height: 100%;}
#global-main {padding-bottom:110px; overflow:auto}  /* 必须使用和footer相同的高度 */
#global-footer {position:relative; margin-top:-110px; height: 110px; clear:both;}


/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.clearfix:after {content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

/*头部内容样式*/
#head{width:1000px; margin:0 auto;}
.logo{ margin-left:20px;}
.search{width:300px;float:right;margin-top:40px;}
.search-text{width:196px;height:24px;border:1px #cccccc solid;padding-left:4px}
.search-button{width:50px;;height:24px;margin-left:10px;font-size:1em;line-height:20px;}

/*内容部分样式*/
#content{width:950px;height:auto;margin:0 auto}
.help{width:100%;height:36px;background:url(../images/banner_2.png) repeat-x;margin-top:20px;margin-right:60px}
.help .link{color:white;float:right;padding-right:10px;line-height:36px;}
.help h1{color:white;padding-left:10px;line-height:36px;text-align:left;font-family:"黑体"}

.summary{width:100%;height:170px;margin-bottom:20px;background:url(../images/banner_bg.png) repeat-x;}
.summary img{padding-top:19px}
.summary-text{width:340px;height:100px;background:#f8fcff;float:right;margin:30px 30px 0 0;border:1px #d0d7da solid;text-align:left;padding:12px 12px;overflow:hidden;}

.content-wrapper, .detail{width:100%;height:auto;}

.nav {width:100%;height:160px;overflow:hidden;}
.nav li{width:224px;height:160px;float:left;padding-right:12px;}
.nav img{width:206px;height:142px;display:block;margin-left:8px}
.nav-button{width:224px;height:93px;background:url(../images/button.png) no-repeat 0 0;display:block;color:#5599ff;position:relative;left:0px;bottom:75px;cursor:pointer}
.nav-button h2{padding-top:15px; font-family:"黑体"}
.nav-button p{color:gray;;height:20px;margin:0 auto;overflow:hidden; padding-left: 5px; padding-right: 5px}

.summary-nav{width:100%;height:130px}
.summary-nav li{display:block;float:left;margin:10px 10px 0 10px;cursor:pointer}

.system-title{width:39px;height:112px;background:url(../images/channel.png);}
.system-thumbs{width:140px;height:112px;}
.system-pms{background:url(../images/icon.png) 0 0}
.system-cr{background:url(../images/icon.png) -140px 0}
.system-ci{background:url(../images/icon.png) -280px 0}
.system-git{background:url(../images/icon.png) -420px 0}
.system-svn{background:url(../images/icon.png) -560px 0}
.system-ftp{background:url(../images/icon.png) -700px 0}
.system-email{background:url(../images/icon.png) -840px 0}
.system-im{background:url(../images/icon.png) -980px 0}
.system-wiki{background:url(../images/icon.png) -1120px 0}
.system-demo{background:url(../images/icon.png) -1260px 0}
.system-api{background:url(../images/icon.png) -1400px 0}

.feature-list{width:100%;height:auto;text-align:left}
.feature-list li{width:100%;clear:both;padding:10px 10px 0px 10px;}
.feature-list img{margin-right:20px}
.feature-list h1{font-family:"黑体"}
.feature-list p{width:480px;height:auto;line-height:20px;margin:12px 0;overflow:auto;}
.feature-list h5{width:420px;line-height:20px;margin:10px 20px 10px 0px;border:1px #e4edf1 solid}

.category {width:420px;line-height:14px;text-align:right;font-size:14px;text-decoration:none;position:relative;bottom:-10px}
.category a{color:blue;}
.category img{padding-right:4px}

.friend-link{width:100%;height:auto;}
.friend-link li{height:32px;line-height:32px;float:right;font-size:14px;font-weight:bold;color:#5599ff;padding-left:10px;cursor:pointer}

.clear{clear:both;}
.align_left{float:left;}
.align_right{float:right;}
hr{border:1px solid #ebe9c6;background:#ebe9c6;}
.line{width:100%;height:1px;background:#bbb}

/* 底部版权部分的样式 */
.footer-bg { width:100%; height:106px; background:url(../images/footer-bg.png) 0 -5px; }
.footer-wrapper { display:inline-block; *display:inline; zoom:1; height:100% }
	.footer-title { float:left; width:203px; height:106px; background:url(../images/footer-title.jpg) center no-repeat}
	.footer-copyright-wrapper { float:left; margin-left:15px }
		.footer-copyright { clear:both; height:106px; display:table-cell; *display:inline; vertical-align:middle}
			.footer-copyright span { *position:relative; *top:50%; display:block; text-align:left; }