@charset "utf-8";
/* CSS Document */
html, body, from {height: 100%;}
#global-wrapper {min-height: 100%;}
#global-main {padding-bottom:110px; overflow:auto}  /* 必须使用和footer相同的高度 */
#global-footer {position:relative; margin-top:-110px; height: 110px; clear:both;}


/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}


.clearfix:after {content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}