<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> 

<beans> 
	<bean id="orderRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean"> 
		<property name="overloadEnabled" value="true" />
		<property name="serviceUrl" value="${order.url}/hessian/orderRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.order.OrderRemoting"/> 
	</bean> 
</beans>


