<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> 

<!--搜索组  hessian-->
<beans> 

	<bean id="dataSourceMatedataRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean"> 
		<property name="overloadEnabled" value="true" />
		<property name="serviceUrl" value="${search.url}/hessian/dataSourceRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.search.DataSourceSearchRemoting"/> 
	</bean> 
	

	<bean id="softwareRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean"> 
		<property name="overloadEnabled" value="true" />
		<property name="serviceUrl" value="${search.url}/hessian/softwareRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.search.SoftwareSearchRemoting"/> 
	</bean>
	
	<!--数据搜索-->
	<bean id="dataSearchRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean"> 
		<property name="overloadEnabled" value="true" />
		<property name="serviceUrl" value="${search.url}/hessian/dataSearchRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.search.DataSearchRemoting"/> 
	</bean>
	
	<bean id="carrierSearchRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean"> 
		<property name="overloadEnabled" value="true" />
		<property name="serviceUrl" value="${search.url}/hessian/carrierSearchRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.search.CarrierRemoting"/> 
	</bean>
	
	<bean id="sensorSearchRemoting" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="overloadEnabled" value="true" /> 
		<property name="serviceUrl" value="${search.url}/hessian/sensorSearchRemoting"/> <!--访问服务器地址 -->
		<property name="serviceInterface" value="org.gfg.portal.remoteinterface.search.SensorRemoting"/> 
	</bean>

	
</beans>


